.enter-device-number-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 16px;
    min-height: 18px;
    min-width: 132px;
  }
  
  .search-button-1 {
    height: 68px;
    margin-top: 12px;
    width: 240px;
  }